:host ::ng-deep .p-checkbox-box {
  display: none !important;
}

.site-todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; // This centers the child elements (the form in this case) on the cross axis
  // Add any other styling here for padding, margin, etc.

  .header {
    color: #fffaf0;
  }

  .header.checklistShown {
    color: #d59ba7;
    text-shadow: 2px 2px 10px #fffaf0;
  }

  form {
    width: 100%; // or a specific width, depending on your design
    max-width: 500px; // Adjust this to fit your content

    .checklist {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        display: flex;
        align-items: center; // Vertically center the checkbox and label
        text-align: left; // Ensure text is left-aligned
        width: 100%;
      }
    }
  }
}
