<h1 class="org-title">St. Georges University</h1>

<!-- <div class="story-title2">Story</div> -->
<div class="story-container">
  <!-- <div class="story-title">Story</div> -->
  <div class="story-title3">Story</div>
  <div class="story-content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
      recusandae quas suscipit dolore fugit aut obcaecati adipisci possimus
      quidem minima ipsa incidunt qui, consectetur, accusamus, voluptatum
      aliquam doloribus numquam commodi!
    </p>
  </div>
  <div class="story-stats">
    <div class="column-left">
      <div class="info-row">
        <label>Campaign Type:</label>
        <div>Engagement (Organic)</div>
      </div>
      <div class="info-row">
        <label>Event:</label>
        <div>SGU Back to Campus 2022 Campaign</div>
      </div>
      <div class="info-row">
        <!--  -->
        <label>Goal(s):</label>
        <div class="info-items">
          <div>
            To build excitement around the return to campus after the pandemic
            shutdown
          </div>
          <div>
            To welcome new students to SGU and Grenada and address frequently
            asked questions
          </div>
          <div>To show the benefits of in-person learning</div>
          <div>To showcase the vibrant and diverse campus community</div>
        </div>
      </div>
    </div>
    <div class="column-right">
      <div class="info-row">
        <!--  -->
        <label>Length:</label>
        <div>6 weeks</div>
      </div>
      <div class="info-row">
        <!--  -->
        <label>Posting Frequency:</label>
        <!-- <div>Once per week organic; Refresh ad copy every 2 weeks</div> -->
        <div class="info-items">
          <div>Daily feed post</div>
          <div>
            Live Instagram Stories updates from day-of event + UGC sharing
          </div>
        </div>
      </div>
      <div class="info-row">
        <label>Platforms:</label>
        <img
          class="platform-icon"
          src="assets/icons/instagramPink.png"
          alt="instagram"
        />
      </div>
    </div>
  </div>
</div>

<div class="case-study-stats-container">
  <div class="stats-title">KPIs and Results</div>
  <!-- <h5 class="stats-title">KPIs and Results</h5> -->
  <app-case-study-stat-card
    *ngFor="let statProperty of statProperties"
    [statProperty]="statProperty"
  ></app-case-study-stat-card>
</div>

<div class="work-product-container">
  <!--  -->
  <div class="column">
    <div class="column-title">Content Strategy (Reels):</div>
    <div class="item">“The Most Instagrammable Places on Campus,”</div>
    <div class="item">“How to Use the SGU Bus System,”</div>
    <div class="item">
      advice on how new students can adjust to life at SGU,
    </div>
    <div class="item">“Welcome” in different languages,</div>
    <div class="item">
      “What to Expect on Your First Day” with SGA presidents,
    </div>
    <div class="item">
      “What to Pack,” milestones/rights of passage (white coat ceremonies)
    </div>
    <div class="item">
      “If I text you” trend, capitalizing on campus insider knowledge
    </div>
    <div class="item">
      “What to Expect on Your First Day” with SGA presidents,
    </div>
  </div>
  <div class="column">
    <!-- <div class="column-title">Supplemental Marketing Strategy:</div> -->
    <div class="column-title">Student, Faculty, and Staff features:</div>
    <div class="item">
      Articles on what’s new on campus, how to adjust to life in Grenada,
      Grenada culture, student support services
    </div>
  </div>
</div>
