<!-- <h1>ENGAGEMENT (ORGANIC)</h1> -->
<h1>Engagement (Organic)</h1>
<h1>SGU Back to Campus 2022 Campaign</h1>
<ul>
  <li>
    Goal(s): To build excitement around the return to campus after the pandemic
    shutdown
  </li>
  <li>
    To welcome new students to SGU and Grenada and address frequently asked
    questions
  </li>
  <li>To show the benefits of in-person learning</li>
  <li>To showcase the vibrant and diverse campus community</li>
</ul>
<p>Length: 6 weeks</p>
<ul>
  Posting frequency:
  <li>1 feed post/day</li>
  <li>live Instagram Stories updates from day-of events + UGC sharing</li>
</ul>
<ul>
  KPIs and Results: Engagements: 17,693
  <li>Audience Growth: 1,038</li>
  <li>Video Views: 147,201</li>
  <li>Drive traffic to welcome website: 179 clicks</li>
  <li>Drive traffic to informational blog posts and articles: 374 clicks</li>
</ul>
<p>Platforms: Instagram</p>

<ul>
  Content:
  <li>Reels for “The Most Instagrammable Places on Campus,”</li>
  <li>
    “How to Use the SGU Bus System,” advice on how new students can adjust to
    life at SGU,
  </li>
  <li>“Welcome” in different languages,</li>
  <li>“What to Expect on Your First Day” with SGA presidents,</li>
  <li>“What to Pack,” milestones/rights of passage (white coat ceremonies)</li>
  <li>“If I text you” trend, capitalizing on campus insider knowledge</li>
  <li>Student, faculty, and staff features</li>
  <li>
    Articles on what’s new on campus, how to adjust to life in Grenada, Grenada
    culture, student support services
  </li>
</ul>
