<div class="container">
  <div id="box1" class="card-box" title="Case Study Summary">
    This is some content for the case study summary.
  </div>
  <div id="box2" class="card-box" title="Stats + Social Media Links">
    This is some content for the stats and social media links.
  </div>

  <div id="box3" class="card-box" title="General Tasks Overview">
    This is some content for the general tasks overview.
  </div>

  <div id="box4" class="card-box" title="Social Media Post Performance">
    This is some content for the social media post's performance.
  </div>
</div>
