<h1>Skills & Tools</h1>

<img id="word-cloud-pic" src="/assets/images/word cloud.png" alt="Skills" />
<!-- 
<div class="skill-cloud-ui">
  <div class="cloud-ui">
    <button
      pButton
      type="button"
      *ngFor="let category of categories"
      [label]="category"
      (click)="toggleHighlightByCategory(category)"
    ></button>
  </div>
  <div class="skill-cloud">
    <div
      *ngFor="let skill of skills"
      [ngClass]="{ highlighted: skill.highlighted }"
    >
      {{ skill.name }}
    </div>
  </div>
</div>
<div id="word-cloud-container"></div>
</div> -->
<app-word-cloud></app-word-cloud>
