@import "src/styles.scss";
// :host > * {
//   display: grid;
//   // gap: 1rem;
//   grid-template-columns: 100%;
//   // place-items: center;
//   background-color: aqua;
// }

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $jke-primary-color;
  min-height: 100vh;
  background: none
}

h1,
p {
  width: 500px;
}

h1 {
  text-align: center;
}

button, p-button {
  color: #f7f4ec;
}