<h1>about me</h1>
<p>
  I am a social media manager with over nine years of experience who believes in
  the power of storytelling and striking imagery from working with global brands
  in higher education and the performing arts. I have expert understanding of
  social platforms, learn new platforms quickly, and stay on top of trends while
  thinking strategically and analytically on how to apply them successfully
  within a brand. At my current position, I have increased growth by over 100%
  and engagement by 200%, and in my previous role, built their social media
  presence from the ground up, overseeing growth by more than 530%. I create
  both static and dynamic content, and am a strong writer who is sensitive and
  adaptable to brand voice. I consider myself an exceptional collaborator,
  teammate, and independent self-starter.
</p>

<p>
  I have always been a creative person, from early childhood drawing to pursuing
  a music performance career throughout college and graduate school. My love for
  music and promoting performances led me to pursue Arts Administration, which
  landed me my first job as a digital marketer for performing arts in higher
  education in New York City. I remember the day I looked at my
  organization&#39;s barely-active Facebook page and asked to manage it, and
  thus dove head-first into the ever-evolving world of social media.
</p>

<p>
  By promoting academic programs and student performances, and working with
  students themselves, I also found a passion for working in the higher
  education sector. Although I have transitioned out of the arts and into
  healthcare, my love for celebrating student success through a brand&#39;s
  social media channels remains the same. I have also maintained my artistic
  side working as a self-taught graphic designer for an orchestra.
</p>

<!-- <button (click)="navigateToLandingPage()">Back</button> -->
<button
  pButton
  type="button"
  label="Back"
  (click)="navigateToLandingPage()"
></button>
