<h1>EVENT PROMOTION (PAID & ORGANIC)</h1>
<h3>
  Leonard Bernstein Centennial Celebration: Marin Alsop Conducts the Juilliard
  Orchestra at Carnegie Hall
</h3>
<p>
  Goal(s): to raise awareness and drive ticket sales for the biggest concert of
  the year to fill 3,000 seats
</p>
<p>Length: 6 weeks</p>
<p>Posting frequency: 1x/week organic Refresh ad copy every 2 weeks</p>
<p>KPIs and Results:</p>
<ul>
  <li>clicks to ticketing page (paid: 1.6% CTR, organic: 0.3% CTR)</li>
  <li>video views: 4,300</li>
  <li>engagements: 10,000</li>
  <li>filled 92% of the house</li>
</ul>
<ul>
  Platforms:
  <li>Facebook, Instagram, Twitter</li>
</ul>
<ul>
  Content:
  <li>
    eye-catching imagery showcasing the conductor and student musicians in
    action
  </li>
  <li>
    Promotional video featuring a rare behind-the-scenes teaser of rehearsal
  </li>
  <li>
    Throwback Thursday posts from the archives of well-known tribute
    composer/conductor
  </li>
  <li>Articles on legacy of both the alumna conductor and tribute composer</li>
</ul>
<ul>
  Other:
  <li>
    In addition to social efforts, created an integrated marketing plan to
    include e-communications, digital display ads, paid search, and print
    advertising
  </li>
  <li>
    Targeted followers of related pages and interests, i.e. Carnegie Hall,
    Leonard Bernstein, featured composers
  </li>
</ul>

<h1>ENGAGEMENT (ORGANIC)</h1>
<h3>Juilliard Commencement 2018 Campaign</h3>
<ul>
  Goal(s):
  <li>to build excitement around Juilliard’s graduating Class of 2018</li>
  <li>to drive traffic to the live stream</li>
  <li>
    to raise awareness of Juilliard’s diverse student body and storied history
  </li>
</ul>
<p>Length: 1 week</p>
<ul>
  Posting frequency:
  <li>1 feed post + Instagram Stories/day</li>
  <li>live Instagram Stories updates from day of event + UGC sharing</li>
</ul>
<ul>
  KPIs and Results:
  <li>Engagements: 16,353</li>
  <li>Reach: 207,844</li>
  <li>Clicks to live stream: 587</li>
  <li>Uses of #Juilliard2018: 196</li>
</ul>
<p>Platforms: Facebook, Instagram, Twitter</p>
<ul>
  Content:
  <li>
    “By the numbers” facts about the graduating student body paired with
    eye-catching imagery
  </li>
  <li>
    #ThrowbackThursday featuring famous past alumni, honorary degree recipients
  </li>
  <li>Encouragement of use of #Juilliard2018</li>
  <li>Live event coverage on Instagram Stories and Twitter</li>
</ul>
