<h1 class="org-title">The Juilliard School</h1>

<!-- <div class="story-title2">Story</div> -->
<div class="story-container">
  <!-- <div class="story-title">Story</div> -->
  <div class="story-title3">Leonard Bernstein Centennial Celebration</div>
  <div class="story-content">
    <p>
      The goal was clear – to raise awareness and fill Carnegie Hall's 3,000
      seats for the Juilliard Orchestra's most significant concert of the year.
      With thumb-stopping imagery capturing alumna Marin Alsop conducting and a
      teaser-filled promotional video revealing behind-the-scenes magic, the
      celebration came alive, complemented by nostalgic posts and insightful
      articles honoring the legacy of Lenny – one of the most iconic musical
      figures the world has ever known.
    </p>
  </div>
  <div class="story-stats">
    <div class="column-left">
      <div class="info-row">
        <label>Campaign Type:</label>
        <div>Event Promotion (Paid & Organic)</div>
      </div>
      <!-- <div class="info-row">
        <label>Event:</label>
        <div class="info-items">
          <div>
            Leonard Bernstein Centennial Celebration: Marin Alsop Conducts the
            Juilliard Orchestra at Carnegie Hall
          </div>
        </div>
      </div>
      <div class="info-row">
        <label>Goal(s):</label>
        <div class="info-items">
          <div>
            To raise awareness and drive ticket sales for the biggest concert of
            the year to fill 3,000 seats
          </div>
        </div>
      </div> -->
      <div class="info-row">
        <label>Length:</label>
        <div>6 weeks</div>
      </div>
    </div>
    <div class="column-right">
      <div class="info-row">
        <label>Posting Frequency:</label>
        <div class="info-items">
          <div>Weekly for Organic; bi-weekly refresh for ad copy</div>
        </div>
      </div>
      <div class="info-row">
        <label>Platforms:</label>
        <img
          class="platform-icon"
          src="assets/icons/facebookPink.png"
          alt="facebook"
        />
        <img
          class="platform-icon"
          src="assets/icons/instagramPink.png"
          alt="instagram"
        />
        <img
          class="platform-icon"
          src="assets/icons/twitterPink.png"
          alt="twitter"
        />
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="case-study-stats-container">
  <div class="stats-title">KPIs and Results</div>
  <app-case-study-stat-card
    *ngFor="let statProperty of statProperties"
    [statProperty]="statProperty"
  ></app-case-study-stat-card>
</div>

<div class="work-product-container">
  <div class="column">
    <div class="column-title">Content Strategy:</div>
    <div class="item">
      Eye-catching imagery showcasing the conductor and student musicians in
      action
    </div>
    <div class="item">
      Promotional video featuring a rare behind-the-scenes teaser of rehearsal
    </div>
    <div class="item">
      Throwback Thursday posts from the archives of well-known tribute
      composer/conductor
    </div>
    <div class="item">
      Articles on legacy of both the alumna conductor and tribute composer
    </div>
  </div>
  <div class="column">
    <div class="column-title">Supplemental Marketing Strategy:</div>
    <div class="item">
      In addition to social efforts, created an integrated marketing plan to
      include e-communications, digital display ads, paid search, and print
      advertising
    </div>
    <div class="item">
      Targeted followers of related pages and interests, i.e. Carnegie Hall,
      Leonard Bernstein, featured composers
    </div>
  </div>
</div>
