/* navbar.component.scss */
:host {
  height: auto !important;
  margin-bottom: 4rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%; /* Take full width */
  font-family: "Verlag-Light", sans-serif;
  color: #F7F4EC;
  background-color: transparent;
  padding: 10px;
  z-index: 1000;
  
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1001;
  margin-bottom: 0rem;
}


#navbar-underline {
  width: 252px; // Adjust based on actual size needed
  height: auto;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3rem;


  // @media (max-width: 768px) {
  //   width: 40%; // Adjust for smaller screens
  // }
}



.navbar li {
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
