@import "src/styles.scss";

main#landing-page-main {
  display: grid;
  // gap: 1rem;
  grid-template-columns: 100%;
  // place-items: center;
  // background-color: aqua;
}

main#landing-page-main > * {
  height: 500px;
  width: 100%;
}

// @media (min-width: 40em) {
//   .grid-even-columns {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

// app-landing-page {
// }

app-banner {
  display: flex;
  flex-direction: column;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;
  // height: 50vh;
  height: 600px !important;
}

app-about-me {
  background-color: $jke-primary-color;
  display: flex;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;
}

app-skills-and-tools {
  display: flex;
  flex-direction: column;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;
}

app-services-offered {
  display: flex;
  flex-direction: column;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;
}

app-contact-me {
  display: flex;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;

  background-color: $jke-tertiary-color;
}

app-portfolio-summary {
  display: flex;
  flex-direction: column;
  align-items: center; // Align items vertically, centered
  align-content: center;
  justify-content: center; // Align items horizontally, centered (with minimal space between)
  width: 100%;
}
