<main id="landing-page">
  <!-- <app-banner class="flex align-items-center justify-content-center"></app-banner>

  <app-about-me class="flex align-items-center justify-content-center"></app-about-me>

  <app-services-offered class="flex align-items-center justify-content-center"></app-services-offered>

  <app-contact-me class="flex align-items-center justify-content-center"></app-contact-me>

  <app-portfolio-summary class="flex align-items-center justify-content-center"></app-portfolio-summary> -->

  <app-banner></app-banner>

  <app-about-me></app-about-me>

  <app-services-offered></app-services-offered>

  <app-contact-me></app-contact-me>

  <app-portfolio-summary></app-portfolio-summary>
</main>
