// main#landing-page {
//   display: flex;
//   flex-direction: column; /* Makes the children stack vertically */
//   align-items: center; /* Centers children horizontally */
//   justify-content: center; /* Centers children vertically */
// }
main#landing-page {
  display: flex;
  flex-direction: column; /* Makes the children stack vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
}

// .banner {
//   display: flex;
//   flex-direction: horizontal;
// }
