@import "src/styles.scss";

// main#landing-page-main  > *:not(app-navbar) {
main#landing-page-main {
  display: grid;
  // gap: 1rem;
  grid-template-columns: 100%;
  // place-items: center;
  // background-color: aqua;
  justify-items: center; /* Centers content horizontally in the grid */
  align-items: center; /* Centers content vertically in the grid */
  background: linear-gradient(155deg, #5D6975, #22303C 40%, #050B0F 70%);
  // background: linear-gradient(
  //   135deg,
  //   #5D6975 0%, /* Start with the lighter gray */
  //   #7E8A95 20%, /* Intermediate color */
  //   #22303C 50%, /* Intermediate color */
  //   #39484E 80%, /* Intermediate color */
  //   #050B0F 100% /* End with the darker gray */
  // );
  background-size: cover; //  This property ensures that the gradient background covers the entire viewport, regardless of the viewport's size or aspect ratio. It scales the background image as much as possible without exceeding the viewport.
  background-attachment: fixed; // This property fixes the background image in place relative to the viewport. It means that when you scroll the page, the background stays in its position, creating a parallax-like effect
}

main#landing-page-main > * {
  height: 500px;
  width: 100%;
}

// @media (min-width: 40em) {
//   .grid-even-columns {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

// app-landing-page {
// }

app-banner,
app-about-me,
app-skills-and-tools,
app-services-offered,
app-contact-me,
app-portfolio-summary {
  display: flex;
  flex-direction: column;
  align-items: center; /* This should center the content vertically */
  align-content: center;
  justify-content: center; /* This should center the content horizontally */
  width: 100%;
}

app-banner {
  // height: 50vh;
  height: 600px !important;
}

app-about-me {
  // background-color: $jke-primary-color;
  flex-direction: row !important;
  width: 100%;
}

app-skills-and-tools {
  height: auto !important;

  // @media (max-width: 768px) {
  //   height: 800px !important;
  //   margin-top: 3rem;
  // }
}

app-services-offered {
}

app-contact-me {
  flex-direction: row !important;

  background-color: $jke-tertiary-color;
  @media (max-width: 768px) {
    // height: 500px !important;
  }
}

app-portfolio-summary {
  width: 100%;
}
