@import "src/styles.scss";

:host {
  // background-color: $jke-secondary-color;
  flex-direction: row !important;
}

.description {
  max-width: 400px;
  margin-left: 1rem;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.description h2 {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
}
