<!-- <div class="name-title">
  <h1>jessica k epps</h1>
  <label>Social Media & Marketing Manager</label>
</div>
<div class="links">
  <button
    pButton
    type="button"
    label="Instagram"
    (click)="navigateTo('Instagram')"
  ></button>
  <button
    pButton
    type="button"
    label="Facebook"
    (click)="navigateTo('Facebook')"
  ></button>
  <button
    pButton
    type="button"
    label="LinkedIn"
    (click)="navigateTo('LinkedIn')"
  ></button>
</div> -->

<div class="name-title">
  <h1>jessica k epps</h1>
  <label>Social Media & Marketing Manager</label>
</div>
<div class="links">
  <i class="fab fa-instagram" (click)="navigateTo('Instagram')"></i>
  <i class="fab fa-facebook" (click)="navigateTo('Facebook')"></i>
  <i class="fab fa-linkedin-in" (click)="navigateTo('LinkedIn')"></i>
</div>
