<div class="name-title">
  <!-- <h1>Jessica K Epps</h1> -->
  <h1>jessica k epps</h1>
  <label>Social Media & Marketing Manager</label>
</div>
<div class="links">
  <button
    pButton
    type="button"
    label="Instagram"
    (click)="navigateTo('Instagram')"
  ></button>
  <button
    pButton
    type="button"
    label="Facebook"
    (click)="navigateTo('Facebook')"
  ></button>
  <button
    pButton
    type="button"
    label="LinkedIn"
    (click)="navigateTo('LinkedIn')"
  ></button>

  <!-- <p-button
    label="Instagram"
    [raised]="true"
    [text]="true"
    severity="secondary"
    (click)="navigateTo('Instagram')"
  ></p-button>
  <p-button
    label="Facebook"
    [raised]="true"
    [text]="true"
    severity="secondary"
    (click)="navigateTo('Facebook')"
  ></p-button>
  <p-button
    label="LinkedIn"
    [raised]="true"
    [text]="true"
    severity="secondary"
    (click)="navigateTo('LinkedIn')"
  ></p-button> -->
</div>
