// Import the global styles
@import "src/styles.scss";

:host {
  height: 600px !important;
}

.name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.name-title h1 {
  font-size: 3rem;
  margin: 1rem;
}

.links {
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.links {
  .fab {
    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
    color: black;

    &:hover {
      color: $jke-primary-color;
    }

    &:active {
      color: #555;
    }
  }
}
