<!-- <div class="name-title">
  <h1 class="first-name">jessica</h1>
  <h1 class="last-name">EPPS BOYETTE</h1>
  <label
    >SOCIAL MEDIA<span>PROFESSIONAL</span> CONTENT CREATOR<span>GRAPHIC</span>
    DESIGNER</label
  >
</div> -->
<div class="name-title">
  <img src="/assets/images/hero-name.png" alt="Jessica Epps Boyette" />
  <label
    >SOCIAL MEDIA PROFESSIONAL<span> CONTENT CREATOR</span
    ><span>GRAPHIC</span> DESIGNER</label
  >
</div>

<div class="links">
  <!-- <i class="fab fa-instagram" (click)="navigateTo('Instagram')"></i>
  <i class="fab fa-facebook" (click)="navigateTo('Facebook')"></i> -->
  <!-- <i class="fab fa-brands fa-linkedin-in" (click)="navigateTo('LinkedIn')"></i> -->
  <!-- <i class="fa-regular fa-envelope" (click)="copyEmailToClipboard()"></i> -->
</div>
