<h1 class="org-title">The Juilliard School 2</h1>

<!-- <div class="story-title2">Story</div> -->
<div class="story-container">
  <!-- <div class="story-title">Story</div> -->
  <div class="story-title3">Story</div>
  <div class="story-content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
      recusandae quas suscipit dolore fugit aut obcaecati adipisci possimus
      quidem minima ipsa incidunt qui, consectetur, accusamus, voluptatum
      aliquam doloribus numquam commodi!
    </p>
  </div>
  <div class="story-stats">
    <div class="column-left">
      <div class="info-row">
        <label>Campaign Type:</label>
        <div>Engagement (Organic)</div>
      </div>
      <div class="info-row">
        <label>Event:</label>
        <div>Juilliard Commencement 2018 Campaign</div>
      </div>
      <div class="info-row">
        <!--  -->
        <label>Goal(s):</label>
        <div class="info-items">
          <div>
            To build excitement around Juilliard’s graduating Class of 2018
          </div>
          <div>To drive traffic to the live stream</div>
          <div>
            To raise awareness of Juilliard’s diverse student body and storied
            history
          </div>
        </div>
      </div>
    </div>
    <div class="column-right">
      <div class="info-row">
        <!--  -->
        <label>Length:</label>
        <div>1 week</div>
      </div>
      <div class="info-row">
        <!--  -->
        <label>Posting Frequency:</label>
        <!-- <div>Once per week organic; Refresh ad copy every 2 weeks</div> -->
        <div class="info-items">
          <div>Daily, 1 feed post + Instagram Stories</div>
          <div>
            Live Instagram Stories updates from day of event + UGC sharing
          </div>
        </div>
      </div>
      <div class="info-row">
        <label>Platforms:</label>
        <img
          class="platform-icon"
          src="assets/icons/facebookPink.png"
          alt="facebook"
        />
        <img
          class="platform-icon"
          src="assets/icons/instagramPink.png"
          alt="instagram"
        />
        <img
          class="platform-icon"
          src="assets/icons/twitterPink.png"
          alt="twitter"
        />
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="case-study-stats-container">
  <div class="stats-title">KPIs and Results</div>
  <!-- <h5 class="stats-title">KPIs and Results</h5> -->
  <app-case-study-stat-card
    *ngFor="let statProperty of statProperties"
    [statProperty]="statProperty"
  ></app-case-study-stat-card>
</div>

<div class="work-product-container">
  <!--  -->
  <div class="column">
    <div class="column-title">Content Strategy:</div>
    <div class="item">
      “By the numbers” facts about the graduating student body paired with
      eye-catching imagery
    </div>
    <div class="item">
      #ThrowbackThursday featuring famous past alumni, honorary degree
      recipients
    </div>
    <div class="item">Encouragement of use of #Juilliard2018</div>
    <div class="item">Live event coverage on Instagram Stories and Twitter</div>
  </div>
  <div class="column">
    <div class="column-title">Supplemental Marketing Strategy:</div>
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quo ipsam
      debitis tempora quod. Aliquam deserunt doloremque distinctio, impedit sint
      ab eligendi quam vero vitae labore voluptates architecto recusandae
      pariatur!
    </div>
    <!-- <div class="item">
      Targeted followers of related pages and interests, i.e. Carnegie Hall,
      Leonard Bernstein, featured composers
    </div> -->
  </div>
</div>
