@import '@fortawesome/fontawesome-free/css/all.css';

//** COLORS

// $jke-primary-color: #e5c4c0;
// $jke-secondary-color: #323235;
// $jke-tertiary-color: #bcb6b3;
$jke-primary-color: #d59ba7;
$jke-secondary-color: #fffaf0;
$jke-tertiary-color: #5c5c5c;
$jke-quad-color: #1f1f1f;

.jke-primary-color {
  background-color: var(jke-primary-color);
}

.jke-secondary-color {
  background-color: var(jke-secondary-color);
}

//** FONTS

@font-face {
  font-family: "Adelia";
  src: url("/assets/fonts/Adelia.ttf") format("truetype");
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/Verlag-Black.ttf") format("truetype");
}

//** GLOBAL STYLES




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Adelia", sans-serif;
  font-size: 2rem;
}

body,
p {
  font-family: "Verlag", sans-serif;
  // color: #F9F6F2;
  color: #F7F4EC;
}

body {
  // No need for margin right now ...
  margin: 0rem !important;
  // width: 100%;
}

button {
  // color: white;
  width: 200px;
  background-color: transparent;
  border: none; // solid $jke-secondary-color !important  border-radius: 10px;
  border-radius: 7px !important;
  margin: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 15px 32px;
  text-align: center;

  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover, .navbar li:hover, button:hover, .hover-effect:hover, i:hover {
  color: #D59BA7; /* Change text color on hover */
  // font-size: 25px;
}

// button:hover {
//   background-color: $jke-primary-color !important;
// }

button:active {
  transform: scale(0.95);
}
