@import "src/styles.scss";

img#profile-pic {
  // max-height: 100%;
  max-height: 350px;
  height: auto;
  width: auto;
  margin-right: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.description {
  max-width: 400px;
  margin-left: 1rem;
}

.description h2 {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.description p {
  margin: 1rem;
  // text-align: center;
}

p {
  transition: color 0.3s, transform 0.3s;
}
p:hover {
  color: white;
  transform: translateY(1px) translateX(1px);
  cursor: pointer;
}
