<div class="about-me-section">
  <h2>Your Advocate</h2>
  <div class="content-row">
    <img
      id="profile-pic"
      src="/assets/images/jess_website_photo.jpg"
      alt="Profile Picture"
    />
    <div class="description">
      <div id="landing-about-me" (click)="navigateToAboutMeExpanded()">
        <p (click)="navigateToAboutMeExpanded()" style="margin-top: 0">
          Hi, I’m Jessica!
        </p>
        <p>
          I’m a results-driven, innovative social media professional with over a
          decade of experience.
        </p>
        <p>
          I leverage expertise in social strategy and content creation in order
          to fuel brand success.
        </p>
        <p>
          Adept at staying ahead of industry trends, I excel at leveraging data
          insights in order to drive engagement and growth.
        </p>
        <p>
          My storytelling skills, ability to create compelling content (in
          static + dynamic formats), and brand adaptability make me an asset to
          any team.
        </p>
        <p>
          I thrive as an exceptional collaborator and motivated self-starter,
          and I am ready to deliver a substantially positive impact on your
          company’s success.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <img
  id="profile-pic"
  src="/assets/images/jess_website_photo.jpg"
  alt="Profile Picture"
/>
<div class="description">
  <h2>Your Advocate</h2>
  <div id="landing-about-me" (click)="navigateToAboutMeExpanded()">
    <p (click)="navigateToAboutMeExpanded()">Hi, I’m Jessica!</p>
    <p>
      I’m a results-driven, innovative social media professional with over a
      decade of experience.
    </p>
    <p>
      I leverage expertise in social strategy and content creation in order to
      fuel brand success.
    </p>
    <p>
      Adept at staying ahead of industry trends, I excel at leveraging data
      insights in order to drive engagement and growth.
    </p>
    <p>
      My storytelling skills, ability to create compelling content (in static +
      dynamic formats), and brand adaptability make me an asset to any team.
    </p>
    <p>
      I thrive as an exceptional collaborator and motivated self-starter, and I
      am ready to deliver a substantially positive impact on your company’s
      success.
    </p>
  </div>
</div> -->
