<img
  id="profile-pic"
  src="/assets/images/profile_pic.jpg"
  alt="Profile Picture"
/>
<div class="description">
  <!-- <h2>Marketing That Advocates for You</h2> -->
  <h2>Your Advocate</h2>
  <!-- <h2 class="your">Your</h2>
  <h2 class="advocate">Advocate</h2> -->
  <div id="landing-about-me" (click)="navigateToAboutMeExpanded()">
    <p (click)="navigateToAboutMeExpanded()">Hi, I’m Jessica!</p>
    <p>
      I’m a results-driven, innovative social media professional with over a
      decade of experience.
    </p>
    <p>
      I leverage expertise in social strategy and content creation in order to
      fuel brand success.
    </p>
    <p>
      Adept at staying ahead of industry trends, I excel at leveraging data
      insights in order to drive engagement and growth.
    </p>
    <p>
      My storytelling skills, ability to create compelling content (in static +
      dynamic formats), and brand adaptability make me an asset to any team.
    </p>
    <!-- <p>
      I take great pride in being a motivated self-starter, and am looking to
      work with deeply creative, generous, and hardworking teams.
    </p>
    <p>
      Eager to contribute to and enhance your team's success, I'm prepared to
      deliver a substantial and positive impact.
    </p> -->
    <p>
      I thrive as an exceptional collaborator and motivated self-starter, and I
      am ready to deliver a substantially positive impact on your company’s
      success.
    </p>
  </div>
</div>

<!-- Hi, I’m Jessica! I’m a results-driven and innovative social media professional
with more than a decade of experience, seeking to leverage expertise in social
strategy and content creation to drive brand success. Adept at staying ahead of
industry trends, I excel in leveraging data insights to drive growth and
engagement, and my skills in storytelling, creating compelling content in both
static and dynamic formats, and brand adaptability make me an asset to any team.
I thrive as an exceptional collaborator and motivated self-starter, and I am
ready to make a positive impact on your company’s success. -->
