@import "src/styles.scss";

:host {
  // background-color: $jke-primary-color;
  flex-direction: row !important;
  margin: 6rem 0;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

img#profile-pic {
  max-height: 350px;
  height: auto;
  width: auto;
  margin-right: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  transition: opacity 0.3s ease;

  @media (max-width: 768px) {
    position: absolute;
    z-index: 0;
    opacity: 0.35;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.description {
  max-width: 400px;
  margin-left: 1rem;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.description h2 {
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
  // text-align: center;
  text-align: start;
  min-width: 30rem;
  
  &.your {
    margin: 1rem;
    margin-bottom: 0rem;
    text-align: start; 
  }

  &.advocate {
    margin-top: 0rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
  }
}


.description p {
  margin: 1rem;
}

p {
  transition: color 0.3s, transform 0.3s;
  background: none;
}

p:hover {
  // color: white;
  transform: translateY(-1px) translateX(-1px);
  cursor: pointer;
  color: $jke-primary-color;
  background: none;
}