@import "src/styles.scss";

:host {
  margin: 6rem 0;
}

.about-me-section {
  text-align: center;

  h2 {
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
  }
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: stretch; // Ensures equal height
  justify-content: center;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#profile-pic {
  flex: 1; // Flex grow to fill space
  max-height: 350px;
  height: 100%; // Equal height as sibling
  margin-right: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  object-fit: cover; // Ensures the image covers the area
}

.description {
  flex: 1; // Flex grow to fill space
  max-width: 400px;
  margin-left: 1rem;
  position: relative;
  text-align: left; // Set text to left-aligned
}

p {
  margin: 1rem;
  transition: color 0.3s, transform 0.3s;
  background: none;
  
  &:hover {
    transform: translateY(-1px) translateX(-1px);
    cursor: pointer;
    color: $jke-primary-color;
  }
}

/* Additional media query adjustments as needed */
